<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap type="Member" id="memberResultSet">
        <result column="USER_ID" property="userId" />
        <result column="USER_PWD" property="userPwd" />
        <result column="USER_NAME" property="userName" />
        <result column="GENDER" property="gender" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="EMAIL" property="email" />
        <result column="PHONE" property="phone" />
        <result column="ADDRESS" property="address" />
        <result column="ENROLL_DATE" property="enrollDate" />
        <result column="GRADE" property="grade" />
        <result column="ADMIN_GRADE" property="admingrade" />
        <result column="USER_COIN" property="userCoin" />
        <result column="DELETE_DATE" property="deleteDate" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>
	<!-- 
		*SELECT문 
		전송시 <select id="각sql문의 식별자" [parameterType="전달받을 자바타입"] resultMap="결과객체" 
		| resultType="결과타입"> </select> 
	-->
	<select id="loginMember" parameterType="Member"
		resultMap="memberResultSet">
		SELECT USER_ID,
		USER_PWD,
		USER_NAME,
		GENDER,
		BIRTHDAY,
		EMAIL,
		PHONE,
		ADDRESS,
		ENROLL_DATE,
		GRADE,
		ADMIN_GRADE,
		USER_COIN,
		DELETE_DATE,
		DEL_FLAG
		FROM MEMBER
		WHERE
		USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
		AND STATUS = 'Y'
	</select>
	
</mapper>
