/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;
width: 1440px;
height: 1024px;
overflow-y: scroll;

background: #FFFFFF;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1440px;
height: 150px;
max-height: 150px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* top */

width: 1440px;
height: 75px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 403 */

position: absolute;
width: 150px;
min-width: 120px;
max-width: 150px;
height: 45px;
left: 250px;
top: 15px;

border-radius: 100px;


/* Frame 458 */

position: absolute;
width: 34px;
height: 45px;
left: 58px;
top: 0px;



/* 푸드피아 */

position: absolute;
width: 120px;
min-width: 120px;
height: 26px;
left: -43px;
top: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 110%;
/* or 26px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* search bar */

box-sizing: border-box;

position: absolute;
width: 480px;
height: 45px;
left: 430px;
top: 15px;

background: #F2F4F8;
border: 1px solid #C1C7CD;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Frame 499 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 10px;
gap: 10px;

position: absolute;
width: 50px;
max-width: 50px;
height: 42px;
left: 16px;
top: 3px;



/* Vector */

width: 30px;
height: 42px;

background: rgba(95, 99, 104, 0.45);
transform: rotate(-5deg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 500 */

position: absolute;
width: 349px;
height: 42px;
left: 81px;
top: 3px;



/* 검색어를 입력하세요. */

position: absolute;
width: 177px;
height: 20px;
left: 0px;
top: 11px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */
display: flex;
align-items: center;

color: #C1C1C1;



/* Frame 883 */

position: absolute;
width: 250px;
min-width: 250px;
max-width: 250px;
height: 45px;
left: 940px;
top: 15px;

background: #FFFFFF;


/* Frame 425 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 0px;

position: absolute;
width: 120px;
max-width: 120px;
height: 45px;
left: 5px;
top: 0px;

border-radius: 100px;


/* Frame 454 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 10px;

width: 50px;
max-width: 50px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Vector */

width: 30px;
height: 23px;

background: #8C9094;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 457 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 70px;
max-width: 200px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* 장바구니 */

width: 70px;
height: 43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 110%;
/* or 18px */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 422 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 120px;
max-width: 120px;
height: 45px;
left: 125px;
top: 0px;

border-radius: 100px;


/* Frame 455 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px 10px 15px;

width: 50px;
max-width: 50px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Vector */

width: 25px;
height: 25px;

background: #8C9094;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 456 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 70px;
max-width: 200px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* 로그아웃 */

width: 70px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* menu */

width: 1440px;
height: 75px;

background: #EDF8E8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 카테고리 */

box-sizing: border-box;

position: absolute;
width: 200px;
min-width: 150px;
max-width: 200px;
height: 59px;
left: 150px;
top: 8px;

background: #12690B;
border: 1px solid #DBDBDB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */


/* Frame */

position: absolute;
width: 30px;
max-width: 30px;
height: 14px;
left: 16px;
top: 22.5px;



/* Group */

position: absolute;
width: 30px;
height: 14px;
left: 0px;
top: 0px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* 카테고리 */

position: absolute;
width: 64px;
height: 16px;
left: 87px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Frame 1179 */

position: absolute;
width: 890px;
height: 59px;
left: 400px;
top: 8px;



/* Frame 232 */

position: absolute;
width: 138px;
height: 59px;
left: 0px;
top: 0px;



/* 이벤트 */

position: absolute;
width: 45px;
height: 16px;
left: 47px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* Frame 233 */

position: absolute;
width: 138px;
height: 59px;
left: 188px;
top: 0px;



/* 인기상품 */

position: absolute;
width: 59px;
height: 16px;
left: 40px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* Frame 234 */

position: absolute;
width: 138px;
height: 59px;
left: 376px;
top: 0px;



/* 럭키박스 */

position: absolute;
width: 59px;
height: 16px;
left: 40px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* Frame 235 */

position: absolute;
width: 138px;
height: 59px;
left: 564px;
top: 0px;



/* 문의 */

position: absolute;
width: 30px;
height: 16px;
left: 54px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* Frame 236 */

position: absolute;
width: 138px;
height: 59px;
left: 752px;
top: 0px;



/* 관리자 */

position: absolute;
width: 45px;
height: 16px;
left: 47px;
top: 21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #12690B;



/* Frame 860 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 1440px;
height: 1910px;
overflow-y: scroll;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1180 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
align-content: flex-start;
padding: 0px;
row-gap: 50px;

width: 1440px;
height: 1750px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 859 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 100px;
gap: 10px;

width: 1420px;
height: 600px;
max-height: 600px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -709px;


/* Vector */

width: 1220px;
height: 600px;

background: url(광고배너.png);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 859 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 200px;
gap: 30px;

width: 1420px;
height: 1100px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 869 */

width: 1020px;
height: 70px;
max-height: 70px;

border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 🎉 오늘의 특가 🎉 */

position: absolute;
width: 335px;
height: 54px;
left: 343px;
top: 8px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Frame 770 */

width: 1020px;
height: 435px;
overflow-x: scroll;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 800 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 10px;
top: 0px;



/* 토마토 */

position: absolute;
width: 230px;
min-width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(토마토.jpg);
border-radius: 25px;


/* 완숙 토마토 950g (봉) 10,990원 */

position: absolute;
width: 153px;
height: 72px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 801 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 290px;
top: 0px;



/* 브로콜리 */

position: absolute;
width: 230px;
min-width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(브로콜리.jpg);
border-radius: 25px;


/* 브로콜리 2개(약 500g) 6,500원 */

position: absolute;
width: 198px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 760 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 570px;
top: 0px;

border-radius: 25px;


/* cabage 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(cabage.jpg);
border-radius: 40px;


/* 강원 양배추(국산) 1통 3,990원 */

position: absolute;
width: 155px;
height: 72px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 755 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 850px;
top: 0px;

border-radius: 25px;


/* melon 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(melon.jpg);
border-radius: 40px;


/* 고당도 점보허니듀멜론 (통) 12,990원 */

position: absolute;
width: 190px;
height: 72px;
max-height: 110px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 767 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 1130px;
top: 0px;

border-radius: 25px;


/* bananabread 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(bananabread.jpg);
border-radius: 40px;


/* 도쿄바나나노 코이비토 (10입) 7000원 */

position: absolute;
width: 190px;
height: 72px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 764 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 1410px;
top: 0px;

border-radius: 25px;


/* 새우 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(새우.jpg);


/* 국산 냉동 새우살 400G(팩) 17,940원 */

position: absolute;
width: 230px;
height: 87px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 870 */

width: 1020px;
height: 70px;
max-height: 70px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 🎀 맞춤형 상품 🎀 */

position: absolute;
width: 341px;
height: 54px;
left: 340px;
top: 8px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* Frame 771 */

width: 1020px;
height: 435px;
overflow-x: scroll;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 762 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 10px;
top: 0px;

border-radius: 25px;


/* koreacow 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(koreacow.jpg);
border-radius: 25px;


/* 한우대창나베 15,480원 */

position: absolute;
width: 111px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 834 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 290px;
top: 0px;

border-radius: 25px;


/* 밀푀유나베 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(밀푀유나베.jpg);
border-radius: 25px;


/* 밀푀유나베 22,900원 */

position: absolute;
width: 92px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 757 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 570px;
top: 0px;

border-radius: 25px;


/* yakidori 2 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(yakidori.jpg);
border-radius: 25px;


/* 야키토리동 8,900원 */

position: absolute;
width: 92px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 833 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 850px;
top: 0px;



/* 떡볶이 */

position: absolute;
width: 230px;
min-width: 230px;
height: 338px;
min-height: 338px;
max-height: 338px;
left: 0px;
top: -6.5px;

background: url(떡볶이.jpg);
border-radius: 25px;


/* 석관동 떡볶이(2인분) 10,300원 */

position: absolute;
width: 180px;
height: 100px;
min-height: 100px;
max-height: 100px;
left: 0px;
top: 341.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 769 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 1130px;
top: 0px;

border-radius: 25px;


/* bagle 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(bagle.jpg);


/* 크랜베리 베이글 샌드위치 8,800원 */

position: absolute;
width: 214px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Frame 765 */

position: absolute;
width: 230px;
min-width: 230px;
height: 435px;
left: 1410px;
top: 0px;

border-radius: 25px;


/* mandoo 1 */

position: absolute;
width: 230px;
height: 338px;
min-height: 338px;
left: 0px;
top: 0px;

background: url(mandoo.jpg);


/* 대구식 수제 납작만두 6,480원 */

position: absolute;
width: 177px;
height: 48px;
max-height: 100px;
left: 0px;
top: 348px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 0px;

width: 1440px;
height: 150px;

background: #EDF8E8;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Top */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 7px 150px;
gap: 20px;

width: 1440px;
height: 74px;

border-bottom: 1px solid #DADADA;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* COMPANY */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 29px 0px;
gap: 10px;

width: 425px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Foodpia */

width: 425px;
height: 2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 110%;
/* or 26px */
display: flex;
align-items: center;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* CEO */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 31px 0px;
gap: 10px;

width: 250px;
max-width: 250px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* CEO */

width: 250px;
min-width: 250px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* WORKER */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 31px 17px;
gap: 41px;

width: 425px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;


/* JM */

width: 45.4px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* YD */

width: 45.4px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* HS */

width: 45.4px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;


/* JH */

width: 45.4px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 1;


/* SH */

width: 45.4px;
height: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 1;


/* BOTTOM */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;

width: 1440px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* URL */

width: 1380px;
height: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */
display: flex;
align-items: center;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
